/bin/
/log.txt
/qtabla.txt
/log*.txt
/qtabla*.txt
/visitMap.xlsx
*.bwta
dom4j-1.6.1.jar
dom4j-1.6.1.jar
poi-ooxml-3.9-20121203.jar
poi-ooxml-schemas-3.9-20121203.jar
poi-ooxml-schemas-3.9-20121203.jar
/excel/
laberinto1.txt
mapa_dificil.txt
mapa_facil.txt
mapa_normal.txt
Libro1.xlsx